<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    
    

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin pages</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
  <auth-method>FORM</auth-method>
  <form-login-config>
    <form-login-page>/adminLogin.jsp</form-login-page>
    <form-error-page>/adminLogin.jsp</form-error-page>
  </form-login-config>
</login-config> 

    <servlet>
        <servlet-name>CartItemsAddetion</servlet-name>
        <servlet-class>com.iti.servlets.CartItemsAddetion</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>securityTest</servlet-name>
        <servlet-class>com.iti.servlets.securityTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartItemsAddetion</servlet-name>
        <url-pattern>/users/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>securityTest</servlet-name>
        <url-pattern>/admin/securityTest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>SingleProductServlet</servlet-name>
        <servlet-class>com.iti.servlets.SingleProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingleProductServlet</servlet-name>
        <url-pattern>/SingleProduct</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    </web-app>
